.root-home{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.card-container{
    width: 60%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}