.chat-login-button {
    padding: 1rem 3rem !important;
    background: #2b6efc;
    border: none;
    border-radius: 50rem;
    color: white;
}

.rsc-content .rsc-cs {
    background-color: #a8edff;

}

.message-box-small {
    background-color: #a8edff;
    color: black;
}
