.rsc-content .rsc-cs {
    background-color: #a8edff;
    font-size: 14px;
    text-align: justify;

}

.message-box {
    background-color: #a8edff;
    color: black;
    max-width: 100%;
    height: 100%;
}


